@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main {
  height: 60vh;
  width: 50vw;
  margin: 20vh auto;
  background-color: tomato;
  border: 5px solid black;
  border-radius: 20px;
}

header {
  height: 40%;
}

h1 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
}

img {
  width: 30%;
}

a {
  background-color: lightgray;
  border: 3px solid black;
  border-radius: 10px;
  padding: 0.5em;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

@media only screen and (max-width: 768px) {
  main {
    width: 80vw;
  }

  h1 {
    font-size: 2em;
  }

  a {
    font-size: 1em;
    padding: 0.2em;
  }
}
