@font-face {
  font-family: PlutoSansMedium;
  src: url("../../fonts/PlutoSans/HVD Fonts - PlutoSansMedium.otf");
}

@font-face {
  font-family: PlutoSansRegular;
  src: url("../../fonts/PlutoSans/HVD Fonts - PlutoSansRegular.otf");
}

@font-face {
  font-family: PlutoSansCondRegular;
  src: url("../../fonts/PlutoSans/HVD Fonts - PlutoSansCondRegular.otf");
}

@font-face {
  font-family: PlutoSansCondBold;
  src: url("../../fonts/PlutoSans/HVD Fonts - PlutoSansCondBold.otf");
}

@font-face {
  font-family: PlutoSansCondMedium;
  src: url("../../fonts/PlutoSans/HVD Fonts - PlutoSansCondMedium.otf");
}

@font-face {
  font-family: PlutoSansCondLight;
  src: url("../../fonts/PlutoSans/HVD Fonts - PlutoSansCondLight.otf");
}
