// Media queries
@mixin lg {
  @media only screen and (max-width: 1180px) {
    @content;
  }
}
@mixin md {
  @media only screen and (max-width: 900px) {
    @content;
  }
}
@mixin sm {
  @media only screen and (max-width: 650px) {
    @content;
  }
}
@mixin transform($degrees) {
  -ms-transform: rotate($degrees);
  -webkit-transform: rotate($degrees);
  transform: rotate($degrees);
}
