@font-face {
  font-family: PlutoSansMedium;
  src:url("fonts/Pluto_Sans/HVD Fonts - PlutoSansMedium.otf");
}

@font-face {
  font-family: PlutoSansRegular;
  src:url("fonts/Pluto_Sans/HVD Fonts - PlutoSansRegular.otf");
}

@font-face {
  font-family: PlutoSansCondRegular;
  src:url("fonts/Pluto_Sans/HVD Fonts - PlutoSansCondRegular.otf");
}

@font-face {
  font-family: PlutoSansCondBold;
  src:url("fonts/Pluto_Sans/HVD Fonts - PlutoSansCondBold.otf");
}

@font-face {
  font-family: PlutoSansCondMedium;
  src:url("fonts/Pluto_Sans/HVD Fonts - PlutoSansCondMedium.otf");
}


@font-face {
  font-family: PlutoSansCondLight;
  src:url("fonts/Pluto_Sans/HVD Fonts - PlutoSansCondLight.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  min-width: 100%;
  min-height: 100%;
}

a {
	text-decoration: none;
}

.logo {	
  background-color: #FFF;
}

.logo > img {
	padding-left: 1.95rem;
  padding-top: 1rem;
}

.topnav {
  display: grid;
  grid-template-columns: 14.63% auto 14.63%;
  grid-template-rows: 80px;
  grid-gap: 0;
  border-bottom: 2px solid #6ec1e4;
  width: 100%;
  /*position: fixed;*/
}

h1 {
  position: absolute;
  font-family: PlutoSansMedium;
  font-weight: 400;
  font-size: 24px;
  margin-left: 1.45rem;
  margin-top: 1.6rem;  	
}

.medium-header, .user {
  background-color: #fcf8f3;
}

.searchbar {
  float: right;
}

form {	
  border: 1px solid #6ec1e4;
  border-radius: 16px;
  height: 36px;
  margin: 1.5rem 1.4rem;
  position: relative;
  width: 299px;
  background-color: rgba(245,246,248,0.51);
}

.searchicon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 0.7rem;
  font-size: 1.1rem;
}

input[name="search"] {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2.2rem;
  font-family: PlutoSansRegular;
  font-size: 0.85rem;
  width: inherit;
}

.user {
	display: grid;
  grid-template-columns: auto 10% 25%;
  grid-template-rows: inherit;
  grid-gap: 0;
  
}

.photo {	
	margin-top: 1.3rem;
}

.photo > img {
	border: 2px solid #6ec1e4;
	border-radius: 100%;
}

.user > i {
	margin-top: 2.2rem;
	font-size: 0.85rem;	
}

.user span {
	font-family: PlutoSansCondRegular;
	padding-top: 1rem;
	padding-left: 4.2rem;
	font-size: 0.85rem;
	border-left: 1px solid #979797;
  height: 50px;
  margin-top: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 14.63% auto 14.63%;
  grid-template-rows: auto;
  grid-gap: 0;
  height: calc(100vh - 80px);
}

.bar-left {
	background-color: #231f20;
	font-family: PlutoSansCondRegular;
}

.nav-main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 17px 19px 19px 19px 19px 19px 19px;
  grid-gap: 1.3rem;
  margin: 2.1rem 0 3.4rem 2.4rem;
  font-size: 14px;
}

.nav-link > i {
	width: 18px;
	text-align: right;
}

.nav-link > a {
	margin-left: 1rem;
}

.nav-link, .nav-link a:visited {
	color: #6ec1e4;
}

.last, .last:visited {
	color: #fcf8f3 !important;
	font-family: PlutoSansCondMedium; 
}

.nav-your-books {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 17px 17px 17px 17px 17px;
  grid-gap: 1.4rem;
  margin-left: 2.4rem;
	font-size: 13px;  
}

.nav-main > span, .nav-your-books > span {
	color: #fff;
	font-family: PlutoSansCondBold;
	font-size: 13px; 
}

.nav-your-books i {
	font-size: 0.9rem;
}


.bar-right {
	background-color: #231f20;
	font-family: PlutoSansCondLight;
	color: #fcf8f3;
	padding: 2rem 2rem 0 2.1rem;
}

.bar-right span {
	font-size: 13px
}

.bar-right ol {
	padding: 0;
}

.bar-right li {
	margin-top: 1.65rem;
	font-size: 12px;
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
	list-style-position: inside;
}

.books {
	display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 300px 300px 300px;
  grid-gap: 20px;
}