@font-face {
  font-family: PlutoSansMedium;
  src:url("fonts/Pluto_Sans/HVD Fonts - PlutoSansMedium.otf");
}

@font-face {
  font-family: PlutoSansRegular;
  src:url("fonts/Pluto_Sans/HVD Fonts - PlutoSansRegular.otf");
}

@font-face {
  font-family: PlutoSansCondRegular;
  src:url("fonts/Pluto_Sans/HVD Fonts - PlutoSansCondRegular.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  min-width: 100%;
  min-height: 100%;
}

.logo {	
  margin: auto;
  padding-top: 0.2rem;
}

.container {
  display: grid;
  grid-template-columns: 14.63% auto 14.63%;
  grid-template-rows: auto;
  grid-gap: 0;
  height: 92vh;
}

.topnav {
  display: grid;
  grid-template-columns: 14.63% auto 14.63%;
  grid-template-rows: 8vh;
  grid-gap: 0;
  border-bottom: 2px solid #6ec1e4;
}

h1 {
  position: absolute;
  font-family: PlutoSansMedium;
  font-weight: 400;
  font-size: 1.5rem;
  padding-left: 1.45rem;
  padding-top: 1.6rem;  	
}

.medium-header, .user {
  background-color: #fcf8f3;
}

.searchbar {
  float: right;
}

form {	
  border: 1px solid #6ec1e4;
  border-radius: 16px;
  height: 36px;
  margin: 1.5rem 1.4rem;
  position: relative;
  width: 299px;
  background-color: rgba(245,246,248,0.51);
}

.searchicon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 0.7rem;
  font-size: 1.1rem;
}

input[name="search"] {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 2.2rem;
  font-family: PlutoSansRegular;
  font-size: 0.85rem;
}

.user {
	display: grid;
  grid-template-columns: auto 10% 25%;
  grid-template-rows: inherit;
  grid-gap: 0;
}

.photo {	
	padding-top: 1.3rem;
}

.photo > img {
	border: 2px solid #6ec1e4;
	border-radius: 19px;
}

.user > i {
	padding-top: 2.2rem;
	font-size: 0.85rem;
}

.user span {
	font-family: PlutoSansCondRegular;
	padding-top: 2rem;
	padding-left: 4.3rem;
	font-size: 0.85rem;
}

.nav-main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20px 20px 20px 20px 20px 20px 20px ;
  grid-gap: 0;
}

.nav-your-books {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20px 20px 20px 20px 20px;
  grid-gap: 0;
}